@black: #2e3c50;
@gray: #677897;
.cl-black {
  font-size: 24rpx;
  font-weight: 400;
  color: @black;
}

.col-black {
  font-size: 26rpx;
  color: @black;
}

.col-big-black {
  font-size: 30rpx;
  color: @black;
}

.gray {
  font-size: 22rpx;
  color: @gray;
}

.cl-gray {
  font-size: 24rpx;
  color: @gray;
}

.cl-b-gray {
  font-size: 26rpx;
  color: #A4ACB8;
}

.cl-b-black {
  font-size: 28rpx;
  color: @black;
  font-weight: 400;
}

.col-black {
  font-size: 30rpx;
  color: @black;
}

.btn-1 {
  width: 542rpx;
  height: 90rpx;
  border: 2rpx solid #DDE2F0;
  border-radius: 45rpx;
  text-align: center;
  line-height: 90rpx;
  color: @cl-2;
  font-size: 28rpx;
}