@import './icon.less';
@import './flex.less';
@import './font.less';
/** 弹窗样式 */

.pop-comp {
  background: rgba(0, 0, 0, 0.40);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 499;
  display: flex;
  justify-content: center;
  .pop-content {
    margin-top: 20rpx;
  }
  .icon-cross {
    height: 75rpx;
    width: 75rpx;
    position: absolute;
    right: 36rpx;
    top: 0;
  }
}

/** 按钮和input样式 */

.btn-1 {
  height: 90rpx;
  line-height: 90rpx;
  border: 2rpx solid #DDE2F0;
  border-radius: 45rpx;
  text-align: center;
  color: @cl-2;
  font-size: 28rpx;
}

input.btn-1 {
  height: 90rpx;
  line-height: 90rpx; // width: 492rpx;
  text-align: left;
  padding: 0 25rpx;
  margin-top: 20rpx;
}

input.btn-2 {
  &:extend(.btn-1);
  &:extend(input.btn-1);
  background-color: @cl-7;
  color: @cl-2;
  text-align: center;
}

/** 选择时间 */

.time-select {
  position: relative;
  .icon {
    width: 16rpx;
    height: 22rpx;
    position: absolute;
    right: 25rpx;
    top: 32rpx;
  }
  .icon-delete {
    height: 30rpx !important;
    width: 42rpx !important;
  }
}

/** label input */

.label-inp {
  p {
    font-size: 28rpx;
    color: @cl-1;
    display: flex;
    align-items: center;
  }
  i {
    height: 30rpx;
    width: 25rpx;
    padding-top: 5rpx;
    margin-right: 15rpx
  }
  img {
    height: 30rpx;
    width: 25rpx;
    padding-top: 5rpx;
    margin-right: 15rpx
  }
}